body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    touch-action: manipulation; /* Prevent zooming */
}

.calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

    .calculator-display {
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eaeaea;
    word-wrap: break-word; /* Wrap long numbers */
    max-width: 100%; /* Limit display width */
    overflow: auto; /* Enable horizontal scrolling if needed */
    touch-action: manipulation; /* Prevent zooming */

}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    touch-action: manipulation; /* Prevent zooming */
}

.btn {
    padding: 20px;
    font-size: 1.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation; /* Prevent zooming */
}

.btn:active {
    background-color: #0056b3;
}

.equal {
    grid-column: span 2;
    background-color: #28a745;
}

.equal:active {
    background-color: #218838;
}
